{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/fineuploader.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}" />
    {% block css %}{% endblock %}
  </head>
  
  <body style="background-image: url({% static 'images/body-bg.jpg' %});">
    <div class="row" style="margin-top:10px;">
      <div class="col-sm-offset-1 col-sm-10">
        <a href="/"><img src="{% static 'images/logo2.png' %}" alt = "logo2"/></a>
        {% block UserInfo %}
          {% if True %}
            <table class="pull-right">
              <tr>
                <td><a href="user"><img src="http://www.gravatar.com/avatar/b9a4a8dccb896d8ea5c88709940451a9?s=50" alt="avatar" title="Nume Prenume"/></a></td>
                <td class="left-padding"><a href="logout" title="Log out"><i class="fa fa-power-off fa-2x"></i></a></td>
              </tr>
            </table>
          {% else %} 
            <a href="connect">Conecteaza-te</a> 
          {% endif %} 
        {% endblock %}
      </div>
    </div>

    <div id="content" class="row no-margin">
      <div id="left-menu" class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
          {% if True %}
            <li><a href="patient" title="Pacienti">Pactienti</a></li>
            <li><a href="statistics" title="Statistici">Statistici</a></li>
            <li><a href="contact" title="Contact">Contact</a></li>
            <li class="divider"></li>
            <li><a href="about" title="Despre">Despre</a></li>
            {% if True %}
              <li class="divider"></li>
              <li><a href="admin" class="left" title="Admin">Admin</a></li>
            {% endif %}
          {% endif %}
        </ul>
        <form class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
        
      <div class="col-sm-10">
        {% block Content %}
          <div id = "content_left" class="col-sm-offset-1 col-sm-5" style="{% block ContentLeftStyle %}{% endblock %}">
            {% block ContentLeft %} {% endblock %}
          </div>
          <div id = "content_right" class="col-sm-5" style="{% block ContentRightStyle %}{% endblock %}">
            {% block ContentRight %} {% endblock %}
          </div>
        {% endblock %}
      </div>
    </div>
    
    <div id="footer" class="row no-margin footer" style="background-image: url({% static 'images/footer.jpg' %});">
      <div class="col-sm-offset-2 col-sm-2">
        <ul class="list-group no-margin"> 
          <li class="list-group-item no-border no-background mini-padding">
            <a href="/" title="Acasa" class="purple-font"><i class="fa fa-home fa-fw"></i>Acasa</a>
          </li>
          <li class="list-group-item no-border no-background mini-padding">
            <a href="contact" title="Contact" class="purple-font"><i class="fa fa-envelope-o"></i>Contact</a>
          </li>
          <li class="list-group-item no-border no-background mini-padding">
            <a href="about" title="Despre" class="purple-font"><i class="fa fa-info"></i>Despre</a> 
          </li>
          <li class="list-group-item no-border no-background mini-padding">
            <a href="#" title="Termeni si servicii" class="purple-font"><i class="fa fa-file-text-o"></i>Termeni si servicii</a> 
          </li>
        </ul>
      </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>

