.no-margin{
    margin: 0px !important;
}

.footer{
    height: 137px;
}

.no-border{
    border: 0px !important;
}

.no-background{
    background: none !important;
}

.no-padding{
    padding: 0px !important;
}

.mini-padding{
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-left{
    padding-left: 10px;
}

.padding-top{
    padding-top: 10px;
}

a.purple-font:link   { color: #A99DA2; }
a.purple-font:visited{ color: #A99DA2; }
a.purple-font:hover  { color: #A99DA2; }
a.purple-font:active { color: #A99DA2; }
